
h1{text-align: left;
opacity: 0.8;
margin-left: 1%;
font-weight: 600;
text-shadow: 1px 1px 1px rgba(218, 112, 214, 0.6);}

h5{
    text-align: left;
    margin-left: 10%;
    opacity: 0.6;

    

}

form{
    text-align: left;
margin-left:1%;}

.searchbar{min-width: 30%;
padding:6px 18px;
margin-left: 10%;

}

.submit
{padding:6px 10px;}

.searchbox{
    background-color: rgb(239, 248, 255);
    border-radius: 6px;
    padding: 5px 20px 20px 0px;
    min-width: fit-content;
    margin-right: 20%;
    margin-left: 1%;
    margin-top: 30px;
    box-shadow: 1px 1px 1px 1px rgba(218, 112, 214, 0.5);
}