
h1{text-align: left;
opacity: 0.7;
margin-left: 5px;
font-weight: 600;
text-shadow: 2px 2px 1px rgba(168,166,180,0.38)}

h5{
    text-align: left;
    margin-left: 5px;
    opacity: 0.7;

}

form{
    text-align: left;}

.searchbar{min-width: 30%;
padding:6px 10px;
margin-left:5px;
}

.submit
{padding:6px 10px;}